<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</head>
<body>

<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/quizz" class="nav-link" >Quizz</a></li>
            <li class="nav-item"><a href="/question" class="nav-link">Questions</a></li>
            <li class="nav-item"><a href="/answer" class="nav-link">Réponses</a></li>
            <li class="nav-item"><a href="/user" class="nav-link">Utilisateurs</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link">Déconnexion</a></li>
        </ul>
    </header>
</div>

<div class="container">

    <div class="row">

        <h1>Answer</h1>
        <p th:if="${ answers.size() == 0 }">Aucune question</p>

    </div>

    <div class="row">

        <form action="/newAnswer" method="POST">
            <div class="input-group">
                <span class="input-group-text">Titre</span>
                <input type="text" name="title" aria-label="Réponse"  class="form-control"/>
            </div>
            <br/>

            <div class="input-group mb-3">
                <label class="input-group-text" for="Question">Question</label>
                <select class="form-select"  name="Question" id="Question">
                    <option th:each="q : ${ questions }" th:value="${q.id}" th:text="${q.title}">
                    </option>
                </select>
            </div>
            <br/>

            <div class="input-group">
                <label>Vrai ?</label>
                <input type="checkbox" name="rightWrong" id="rightWrong">
            </div>
            <br/>

            <button class="btn btn-primary" type="submit">Ajouter</button>
        </form>
    </div>

    <br/><br/>
    <div class="row">

        <table th:if="${ answers.size() > 0 }">
            <thead>
            <th>Réponse</th>
            <th>Question</th>
            <th>Quizz</th>
            <th>Valide</th>
            <th>Action</th>
            </thead>
            <tr th:each="a : ${ answers }">
                <td th:text="${ a.title }"></td>

                <td th:text="${ a.question.title }"></td>

                <td th:text="${ a.question.quizz.title }"></td>

                <td th:text="${ a.rightWrong }"></td>

                <td>
                    <a th:href="'/updateAnswer/' + ${a.id}" class="btn btn-warning">Modifier</a>
                </td>

                <td>
                    <a th:href="'/deleteAnswer/' + ${a.id}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>