<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
    <div class="container">
        <a class="navbar-brand" href="#">Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/quizz">Quizz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/question">Questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/answer">Réponses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">Utilisateurs</a>
                </li>
            </ul>

            <ul class="navbar-nav ">
                <li class="nav-item">
                <a class="nav-link" href="/logout">Déconnexion</a>
            </ul>

        </div>
    </div>
</nav>
</br></br>

<div class="container">
    <div class="row">
        <h1>Réponse</h1>
        <p th:if="${ answers.size() == 0 }">Aucune question</p>
    </div>

    <div class="row">
        <form action="/newAnswer" method="POST">
            <div class="input-group">
                <span class="input-group-text">Réponse</span>
                <input type="text" name="title" aria-label="Réponse"  class="form-control"/>
            </div>
            <br/>

            <div class="input-group mb-3">
                <label class="input-group-text" for="Question">Question</label>
                <select class="form-select"  name="Question" id="Question">
                    <option th:each="q : ${ questions }" th:value="${q.id}" th:text="${q.title}">
                    </option>
                </select>
            </div>
            <br/>

            <div class="form-check" >
                <input class="form-check-input" type="checkbox" id="rightWrong" name="rightWrong">
                <label class="form-check-label" for="rightWrong">
                    Vrai
                </label>
            </div>
            <br/>

            <button class="btn btn-primary" type="submit">Ajouter</button>
        </form>
    </div>

    <br/><br/>
    <div class="row" th:each="quizz : ${ quizz }">

        <h2 th:text="${ quizz.title }"></h2>
        <br>
        <div th:each="question : ${ questions }">

            <h5 th:text="${ question.title }"></h5>

            <table th:if="${ question.answers.size() > 0 }">
                <thead>
                <th>Réponse</th>
                <th>Valide</th>
                <th>Action</th>
                </thead>
                <tr th:each="a : ${ question.answers }">
                    <td class="col-md-4" th:text="${ a.title }"></td>
                    <td class="col-md-4" th:text="${ a.rightWrong }"></td>

                    <td class="col-md-4">
                        <a th:href="'/updateAnswer/' + ${a.id}" class="btn btn-warning">Modifier</a>
                    </td>
                </tr>
            </table>
            <br><br>
        </div>
    </div>

</div>

</body>
</html>