<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</head>
<body>

<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/quizz" class="nav-link" >Quizz</a></li>
            <li class="nav-item"><a href="/question" class="nav-link">Questions</a></li>
            <li class="nav-item"><a href="/answer" class="nav-link">Réponses</a></li>
            <li class="nav-item"><a href="/user" class="nav-link">Utilisateurs</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link">Déconnexion</a></li>
        </ul>
    </header>
</div>

<div class="container">

    <div class="row">

        <h1>Question</h1>
        <p th:if="${ questions.size() == 0 }">Aucune question</p>

    </div>

    <form action="/question" th:object="${question}" method="POST"
          enctype="utf8">

        <div class="input-group mb-3">
            <label class="input-group-text" for="quizz">Quizz</label>
            <select class="form-select"  name="quizz" id="quizz">
                <option th:each="q : ${ quizz }" th:value="${q.id}" th:text="${q.title}">
                </option>
            </select>
        </div>
        <br/>

        <div class="input-group">
            <span class="input-group-text">Question</span>
            <input name="title" aria-label="title"   th:field="*{title}"  class="form-control"  />
            <p class="error-message"
               th:each="error: ${#fields.errors('title')}" th:text="${error}"></p>
        </div>
        <br/><br/>

        <div class="input-group">
            <span class="input-group-text">Réponse 1</span>
            <input type="text" name="answer1" aria-label="Titre"  th:field="*{answer1}" class="form-control"/>
            <p class="error-message"
               th:each="error: ${#fields.errors('answer1')}" th:text="${error}"></p>
        </div>
        <div class="form-check" >
            <input class="form-check-input" type="checkbox" id="right1" name="right1">
            <label class="form-check-label" for="right1">
                Vrai
            </label>
        </div>
        <br/>

        <div class="input-group">
            <span class="input-group-text">Réponse 2</span>
            <input type="text" name="answer2" aria-label="Titre" th:field="*{answer2}"  class="form-control"/>
            <p class="error-message"
               th:each="error: ${#fields.errors('answer2')}" th:text="${error}"></p>
        </div>
        <div class="form-check" >
            <input class="form-check-input" type="checkbox" id="right2" name="right2">
            <label class="form-check-label" for="right2">
                Vrai
            </label>
        </div>
        <br/>

        <div class="input-group">
            <span class="input-group-text">Réponse 3</span>
            <input type="text" name="answer3" aria-label="Titre" th:field="*{answer3}"  class="form-control"/>
            <p class="error-message"
               th:each="error: ${#fields.errors('answer3')}" th:text="${error}"></p>
        </div>
        <div class="form-check" >
            <input class="form-check-input" type="checkbox" id="right3" name="right3">
            <label class="form-check-label" for="right3">
                Vrai
            </label>
        </div>
        <br/>

        <div class="input-group">
            <span class="input-group-text">Réponse 4</span>
            <input type="text" name="answer4" aria-label="Titre" th:field="*{answer4}"  class="form-control"/>
            <p class="error-message"
               th:each="error: ${#fields.errors('answer4')}" th:text="${error}"></p>
        </div>
        <div class="form-check" >
            <input class="form-check-input" type="checkbox" id="right4" name="right4">
            <label class="form-check-label" for="right4">
                Vrai
            </label>
        </div>
        <br/>

        <button class="btn btn-primary" type="submit">Ajouter</button>
    </form>

    <br/><br/>
    <div class="row">
        <table th:if="${ questions.size() > 0 }">
            <thead>
            <th>Title</th>
            <th>Quizz</th>
            <th>Action</th>
            </thead>
            <tr th:each="q : ${ questions }">
                <td th:text="${ q.title }"></td>

                <td th:text="${ q.quizz.title }"></td>

                <td>
                    <a th:href="'/updateQuestion/' + ${q.id}" class="btn btn-warning">Modifier</a>
                </td>

                <td>
                    <form th:action="'/deleteQuestion/' + ${q.id}" method="POST" onsubmit="return confirm('Are you sure you want to submit?');">
                        <button type="submit" class="btn btn-danger" >Supprimer</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>