<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</head>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
    <div class="container">
        <a class="navbar-brand" href="#">Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/quizz">Quizz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/question">Questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/answer">Réponses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">Utilisateurs</a>
                </li>
            </ul>

            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Déconnexion</a>
            </ul>

        </div>
    </div>
</nav>
</br></br>

<body>
<div class="container">
    <div class="row">
        <h1>Quizz</h1>
        <p th:if="${ quizz.size() == 0 }">Aucun quizz</p>
    </div>

    <div class="row">
        <form action="/newquizz" method="POST">

            <div class="input-group">
                <span class="input-group-text">Titre</span>
                <input type="text" name="title" aria-label="Quizz"  class="form-control"/>
            </div>
            <br/>
            <button class="btn btn-primary" type="submit">Ajouter</button>
        </form>
    </div>

    <br/><br/>

    <div class="row">
        <table th:if="${ quizz.size() > 0 }">
            <thead>
            <th>Nom</th>
            <th>Action</th>
            </thead>
            <tr th:each="q : ${ quizz }">
                <td th:text="${ q.title }"></td>

                <td>
                    <a th:href="'/updatequizz/' + ${q.id}" class="btn btn-warning">Modifier</a>
                </td>

                <td>
                    <form th:action="'/deleteQuizz/' + ${q.id}" method="POST"  onsubmit="return confirm('Êtes-vous sûr de vouloir vous supprimer ce quizz ?');">
                        <button type="submit" class="btn btn-danger" >Supprimer</button>
                    </form>
                </td>

            </tr>
        </table>
    </div>

</div>

</body>
</html>