<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</head>
<body>

<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/quizz" class="nav-link" >Quizz</a></li>
            <li class="nav-item"><a href="/question" class="nav-link">Questions</a></li>
            <li class="nav-item"><a href="/answer" class="nav-link">Réponses</a></li>
            <li class="nav-item"><a href="/user" class="nav-link">Utilisateurs</a></li>
        </ul>
    </header>
</div>

<h1>Utilisateur</h1>

<p th:text="${ users.size() }"></p>

<p th:if="${ users.size() == 0 }">Aucun utilisateur</p>

<form action="/quizz"  method="GET">
    <input type="submit" value="Quizz">
</form>

<form action="/question"  method="GET">
    <input type="submit" value="Question">
</form>

<form action="/answer"  method="GET">
    <input type="submit" value="Answer">
</form>

<table th:if="${ users.size() > 0 }">
    <tr th:each="u : ${ users }">
        <td th:text="${ u.firstName }"></td>
        <td th:text="${ u.lastName }"></td>

        <td>
            <form th:action="'/updateUser/' + ${u.id}"  method="GET">
                <input type="submit" value="modifier">
            </form>
        </td>

        <td>
            <form th:action="'/deleteUser/' + ${u.id}"  method="POST">
                <input type="submit" value="supprimer">
            </form>
        </td>
    </tr>
</table>

<form action="/newUser" method="POST">
    <label>identifiant:</label><input type="email" name="email"/><br/>
    <label>Nom:</label><input type="text" name="firstName"/><br/>
    <label>Prénom:</label><input type="text" name="lastName"/><br/>
    <label>Mot de passe:</label><input type="password" name="password"/><br/>
    <label>Confirm de passe:</label><input type="password" name="confirmpassword"/><br/>
    <input type="submit" value="Ajouter">
</form>
</body>
</html>